<!-- jquery added -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- vanilla javascript added on server side -->
<script src="main.js" charset="utf-8"></script>
</body>
<div style="background-color:#B8FFF9" class="text-center footer py-3">
    <span>Made by Keshav Tomar with <span style="color:red;">Kitty</span></span>
</div>
</html>
